@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    cursor: help;
}

.tooltip-content {
    visibility: hidden;
    opacity: 0;
    background-color: #FEFEFE;
    color: #212A3C;
    text-align: start;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: normal;
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    font-size: 12px;
    line-height: 1.4;
}

/* Tooltip arrow */
.tooltip-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #FEFEFE transparent transparent transparent;
}

/* Show the tooltip on hover */
.tooltip-container:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
}

.tooltip-content.left-aligned {
    /* Reposiciona o tooltip para a borda direita do container */
    left: auto;
    right: -5px;
    /* Remove a transformação horizontal para evitar deslocamento */
    transform: none;
}

/* Modifica a seta para que ela se alinhe à direita do tooltip */
.tooltip-content.left-aligned::after {
    left: auto;
    right: 8px;
}

.step, .trans{
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.op-0{
    opacity: 0;
    pointer-events: none;
}

.abs{
    position: absolute;
    inset: 0;
}

div.active{
    display: block;
}

.disabled-option {
  color: #a0a0a0; /* Cor cinza para o texto */
  background-color: #f0f0f0; /* Fundo mais claro */
  cursor: not-allowed; /* Altera o cursor para indicar que não é clicável */
}

/* Customiza a barra de rolagem para navegadores baseados em WebKit */
.custom-options-list::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
    border-radius: 4px; /* Raio da borda da barra de rolagem */
}

/* Estiliza o "caminho" da barra de rolagem */
.custom-options-list::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da trilha */
    border-radius: 4px;
}

/* Estiliza o "polegar" (thumb) da barra de rolagem */
.custom-options-list::-webkit-scrollbar-thumb {
    background-color: #0066C2; /* A cor azul da seta */
    border-radius: 4px;
}

/* Estiliza o thumb ao passar o mouse */
.custom-options-list::-webkit-scrollbar-thumb:hover {
    background-color: #005299; /* Um tom um pouco mais escuro para o hover */
}